#BorderPane{
-fx-border-radius: 10px 0 0 0;
-fx-border-color: #ff0000;
-fx-border-width: 2px;
}
#headerPane{
-fx-background-image: url("../images/pexels-cottonbro-6804613.jpg");
-fx-background-repeat: no-repeat;
-fx-background-size: cover, auto;
-fx-opacity: 0.25;
}
#leftPane{
-fx-background-color: #000000;
-border-color: #ff0000;
}
#logoImage{
    -fx-background-image: url("../images/coffee-8684315_640.jpg");
     -fx-background-repeat: no-repeat;
     -fx-background-size: cover, auto;
}
#titleAnchorPane{
-fx-background-color: #ff0000;
-fx-border-radius: 10px 0 0 0;
-fx-background-radius: 10px 0 0 0;
}
.menuAnchorPane{
-fx-background-color: #ff0000;
-fx-border-radius: 10px 0 0 10px;
-fx-background-radius: 10px 0 0 10px;
-fx-margin-top: 20px;
}
#centerPane{
 -fx-background-image: url("../images/pexels-cottonbro-6804581.jpg");
 -fx-background-repeat: no-repeat;
 -fx-background-size: cover, auto;
 -fx-opacity: 0.75;
}
#footerPane{
-fx-background-color: #000000;
-fx-background-image: url("../images/pexels-cottonbro-6804581.jpg");
-fx-background-repeat: no-repeat;
-fx-background-size: cover, auto;
 -fx-opacity: 0.5;
}
#searchPane{
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
     -fx-background-color: #ffffff;
        -fx-font-size: 1.4em;
        -fx-effect: dropshadow( three-pass-box , #aaaaaa , 3, 0.0 , 0 , 5 );
}
#searchComboBox{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20px;
    -fx-border-radius: 20px;
}
.transparent{
    -fx-background-color: rgba(0,0,0,0);
}
.search-button{
    -fx-background-color: #828282;
    -fx-background-radius: 30;
}
.search-box{
    -fx-background-color: #ffffff;
    -fx-background-radius: 100;
}