.button{

    -fx-background-color: #2ADB10;
    -fx-text-fill: #ffffff;
    -fx-font-size: 15px;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
}
.button:hover{
    -fx-background-color: #1A8A07;
}
.text-field{
    -fx-background-color: #ffffff;
    -fx-border-color: #000000;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-size: 15px;
    -fx-padding: 10 20 10 20;
}